name: language_pickers
description: It makes language pickers for you in Flutter. You can use it freely in lots of ways.
version: 0.1.0
author: gomgom <dev@gomgom.io>
homepage:

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
  - assets/
